# Environment variables and secrets
.env
.env.local
.env*.local

# Go build artifacts
/bin/
/dist/
*.exe
*.dll
*.so
*.dylib

# Node / npm / pnpm
node_modules/
.pnpm-store/
pnpm-debug.log

# Next.js
dist/
.next/
out/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.iml

# Docker
.docker
docker-compose.override.yml

# Database
*.db
*.sqlite

# Logs
*.log

# ngrok
ngrok

# OS
.DS_Store
Thumbs.db

# Temp
/tmp/
*.tmp
